# Python
ml_service/.venv/
**/__pycache__/
*.pyc

# Node
node_modules/

# Runtime folders
uploads/
ml_service/tmp/
ml_service/outputs/heatmaps/
ml_service/outputs/masks/

ml_service/.venv/
node_modules/

node_modules
.vscode
.env
ml_service/.venv
ml_service/tmp
uploads
ml_service/outputs
__pycache__
*.pyc